/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: "navbar navbar"
        "contenido contenido"
        "footer footer";
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 10fr, 1fr;
    width: 100%;
    background-image: url(../assets/imagenes/fondo1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


header {
    grid-area: navbar;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 64, 95);
}

main {
    grid-area: contenido;
    width: 100%;
    height: 100%;

}

/*Index
.main_index {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1px 0px;
    margin-top: 1rem;
}

.contenido_index {
    width: 70%;
}
*/
/*footer
footer {
    grid-area: footer;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    min-width: 60%;
    display: flex;
    justify-content: space-around;
}

.buttons a {
    text-decoration: none;
    font-size: 1.5rem;
    width: 2.3rem;
    height: 2.3rem;
    line-height: 2rem;
    text-align: center;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.buttons a:hover {
    transform: scale(1.2);
}

main .card-inicio {
    margin: 4rem;
}

@media screen and (max-width: 600px) {

    body {
        background-image: url(../assets/imagenes/fondo2.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

  
    footer {
        grid-area: footer;
        height: 4rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .buttons {
        min-width: 60%;
        display: flex;
        justify-content: space-around;
    }
    
    .buttons a {
        text-decoration: none;
        font-size: 1.5rem;
        width: 2.3rem;
        height: 2.3rem;
        line-height: 2rem;
        text-align: center;
        background: #ffffff;
        color: rgb(0, 0, 0);
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        transition: all .4s ease-in-out;
    }
    
    .buttons a:hover {
        transform: scale(1.2);
    }
    
    main .card-inicio {
        margin: 4rem;
    }

    #carouselExampleControls {
        display: none;
    }
}

*/
/*
 nosotros
.contenedor-banner-principal {
    width: 100%;
    height: 400px;
    position: relative;
    animation: 15s infinite linear alternate;
    margin-top: 40px;
}

.capa-degradado {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to left, #191919, #C2000B);
    opacity: 0.5;
}

.contenedor-detalles {
    width: 100%;
    position: absolute;
    margin: auto;
    height: 100%;
}

.detalles {
    width: 50%;
    position: relative;
    top: 20%;
    color: #fff;
    display: block;
    margin: auto;

    transition: all 0.5s ease;
    transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.detalles h1 {
    font-size: 2rem;
    text-align: center;
}

.detalles p {
    margin-top: 10px;
    font-size: 1, 4rem;
    font-weight: 100;
    text-align: center;
}

.detalles a {
    padding: 10px 20px;
    font-size: 16px;
    background: none;
    border-style: none;
    border: 1px solid #fff;
    color: #fff;
    margin: 20px auto;
    cursor: pointer;
    display: block;
    width: 30%;
    text-align: center;
    border-radius: 5px;

    transition: all 0.5s ease;
    transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.detalles a:hover {
    background: #fff;
    color: #000;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 20px;
    color: #ffe8f9;
    font-family: 'Roboto', sans-serif;
}

.parrafo-n {
    margin: 1rem;
}
*/

/*Productos
.conte_producto {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.conte_producto .foto {
    width: 330px;
    height: 550px;
    border-radius: 5%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.conte_producto .foto:hover {
    transform: translate(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.conte_producto .foto img {
    width: 330px;
    height: 500px;

}

.titulo_p a {
    text-decoration: none;
    list-style-type: none;
    color: #e4d8d8;
}

.titulo_p {
    padding-top: 10px;
    font-size: 1.4rem;
    ;
}

*/
/*galeria


.galeria-img {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 40px;
    background-color: rgba(145, 143, 143, 0.329);

}

.galeria-img .imagenes {
    max-width: 500px;
    padding: 1rem;
}
*/
/* contacto
.contenedor_form {
    width: 28rem;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding: 30px 0px 20px 20px;
    background-color: #46444486;
}

input {
    background-color: #ffffff;
    width: 25rem;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #2e1f1f;
    margin: 10px 0px 20px 0px;
    padding-left: 10px;
}


textarea {
    background-color: #ffffff;
    width: 25rem;
    height: 130px;
    border-radius: 5%;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}


label {
    display: block;
    align-items: center;
}

button {
    height: 45px;
    width: 25rem;
    padding: 10px 5px;
    margin: 10px 0 20px 0;
    text-transform: uppercase;
    background-color: #5e2851;
    border-color: #ab4493;
    border-style: solid;
    border-radius: 2%;
    cursor: pointer;
}

button p {
    color: #fff;
}

span {
    color: #49203f;
}

.aviso {
    font-size: 1rem;
    color: #0e0e0e;
}

h1 {
    font-size: 2.3rem;
    text-align: center;
    padding-bottom: 20px;
    color: #e7d0e2d5;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 1rem;
    padding-bottom: 30px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1rem;
    color: #e4d8d8;
    font-family: 'Roboto', sans-serif;
}
*/

/*
    .galeria-img .imagenes {
        max-width: 25rem;
        padding: 1rem;

    }

    button {
        width: 25rem;
    }

    textarea {
        width: 25rem;
    }

    input {
        width: 25rem;
    }

    .contenedor-detalles {
        position: absolute;
        margin: auto;
        padding-bottom: 14rem;
        height: 100%;
    }
    .detalles a {
        display: none;
    }
*/