@import url(../utilidad/_variables.scss);

body {
    display: grid;
    height: 100%;
    grid-template-areas: "navbar navbar"
        "contenido contenido"
        "footer footer";
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 2fr, 15fr, 1fr;
    background-image: url(../assets/imagenes/fondo1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    header {
        grid-area: navbar;
        width: 100%;
        height: 100%;
        background-color: $fondo;
    }

    main {
        grid-area: contenido;
        width: 100%;
    }

    footer {
        background-color: rgba(0, 0, 0, 0.712);
        grid-area: footer;
        width: 100%;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .footer-col {
            width: 40%;
            text-align: center;

            a {
                color: $primario;
                text-decoration: none;

            }
            ul {
                list-style: none;

                li {
                    &:hover {
                        transform: translate(-15px);
                    }
                }
            }
        }

            .buttons {
                width: 60%;
                display: flex;
                justify-content: space-around;

                a {
                    text-decoration: none;
                    font-size: 1.5rem;
                    width: 2.3rem;
                    height: 2.3rem;
                    line-height: 2rem;
                    text-align: center;
                    background: $primario;
                    color: $secundario;
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
                    transition: all .4s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
